<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>World Health News</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
        <meta content="Bootstrap News Template - Free HTML Templates" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet"> 

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tb-contact">
                            <p><i class="fas fa-envelope"></i>amnsiavi@gmail.com</p>
                           
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Top Bar Start -->
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="b-logo">
                            <a href="index.html">
                                <img src="{{url_for('static',filename='img/logo.png')}}" alt="Logo">
                            </a>
                        </div>
                    </div>
                   
                   
                </div>
            </div>
        </div>
        <!-- Brand End -->

        <!-- Nav Bar Start -->
       
        
        <!-- Breadcrumb Start -->
       
        <!-- Breadcrumb End -->
        
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[0]['abstract']}} </h1>
                                <img src="{{im[0]}}">
                                <p>
                                    The Leading News Papers health is conducting survey to check people awareness about health if you are intrested in helping us check out the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[0]['web_url']}}">{{artic[0]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[0]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>
<hr>

        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[1]['abstract']}} </h1>
                                <img src="{{im[1]}}">
                                <p>
                                    If you are intrested in reading this news more checkout the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[1]['web_url']}}">{{artic[1]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[1]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>

<hr>

      <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[2]['abstract']}} </h1>
                                <img src="{{im[2]}}">
                                <p>
                                    If you are intrested in reading this news more checkout the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[2]['web_url']}}">{{artic[2]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[2]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>



  

<hr>

      <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[3]['abstract']}} </h1>
                                <img src="{{im[3]}}">
                                <p>
                                    If you are intrested in reading this news more checkout the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[3]['web_url']}}">{{artic[3]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[3]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>





  



<hr>


      <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[5]['abstract']}} </h1>
                                <img src="{{im[4]}}">
                                <p>
                                    If you are intrested in reading this news more checkout the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[5]['web_url']}}">{{artic[5]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[5]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>




  


<hr>



      <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[6]['abstract']}} </h1>
                                <img src="{{im[5]}}">
                                <p>
                                    If you are intrested in reading this news more checkout the link below:  
                                </p>
                                <p>
                                    <a href="{{artic[6]['web_url']}}">{{artic[6]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[6]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>

<hr>

      <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[7]['abstract']}} </h1>
                                <img src="{{im[6]}}">
                                <p>
                                    If you are intrested in reading this news more checkout the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[7]['web_url']}}">{{artic[7]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[7]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>

<hr>

      <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img">
                                
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{artic[8]['abstract']}} </h1>
                                <img src="{{im[7]}}">
                                <p>
                                     If you are intrested in reading this news more checkout the link below: 
                                </p>
                                <p>
                                    <a href="{{artic[8]['web_url']}}">{{artic[8]['web_url']}}</a>
                                </p>
                                <h3>Source</h3>
                                <p>
                                    {{artic[8]['source']}}
                                </p>
                                
                            </div>
                        </div>
                        

                    
        </div>

    </div>
</div>

</div>



 
<hr>
 
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>World Health News</p>
                                
                                <div class="social">
    
                                    <a href="www.facebook.com/haiderabbasbalti"><i class="fab fa-facebook-f"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
        </div>
         <!-- Footer Bottom Start -->
         <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="">ML Based Gastroenterology Virtual Doctor</a>. All Rights Reserved</p>
                    </div>
        
        <!-- Footer Bottom End -->

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
